:root {
	--primary-bg-color: #282a36;
	--secondary-bg-color: #2D303D;
	--tertiary-bg-color: #44475a;
	--hover-bg-color: #36394A;
	--primary-fg-color: #f8f8f2;
}

body {
	background-color: var(--secondary-bg-color);
	color: var(--tertiary-fg-color);
	margin: 0px;
	font-family:sans-serif;
}

a {
	text-decoration: none;
}

.siteBody {
	background-color: var(--primary-bg-color);
	color: var(--primary-fg-color);
	padding: 5px 0px;
}
a {
	color: var(--primary-fg-color);
}

ul#navmenu {
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	background-color: var(--secondary-bg-color);
}
#navmenu li{
	display: inline;
}

#navmenu a{
	padding: 10px 20px;
	margin: 0px 5px;
	background-color: var(--tertiary-bg-color);
	font-size: 20px;
}

#navmenu a:hover{
	background-color: var(--hover-bg-color);
}

.recipeDetails{
	margin: 0px 10px;
}

p.byline{
	font-style: italic;
}

p.serves{
	font-style: italic;
}

#footer a{
	color: var(--primary-fg-color);
	text-decoration: underline;
}

#footer hr{
	border-color: var(--tertiary-bg-color);
}

#footer{
	position: static;
	bottom: 0;
	margin: 10px 0px;
	background-color: var(--secondary-bg-color);
	color: var(--primary-fg-color);
}
