* {
	font-family:sans-serif;
}
body {
	background-color: #333333;
	color: #eeeeee;
}

ul#navmenu {
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	background-color: #555555;
}
#navmenu li{
	display: inline;
	background-color: transparent;
}
#navmenu a{
	padding: 10px 20px;
	margin: 0px 5px;
	background-color: #666666;
	color: #eeeeee;
	text-decoration: none;
	font-size: 20px;
}
#navmenu a:hover{
	background-color:#444444;
}

.recipeLink a{
	text-decoration: none;
}
.recipeDetails{
	margin: 0px 10px;
}
p.byline{
	font-style: italic;
}

#footer{
	position: absolute;
	bottom: 0;
	padding: 10px 0px
}
