:root {
	--primary-bg-color: #282a36;
	--secondary-bg-color: #2D303D;
	--tertiary-bg-color: #44475a;
	--hover-bg-color: #36394A;
	--primary-fg-color: #f8f8f2;
}

* {
	font-family:sans-serif;
}
body {
	background-color: var(--primary-bg-color);
	color: var(--primary-fg-color);
}
a {
	color: var(--primary-fg-color);
}

ul#navmenu {
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	background-color: var(--secondary-bg-color);
}
#navmenu li{
	display: inline;
	background-color: transparent;
}
#navmenu a{
	padding: 10px 20px;
	margin: 0px 5px;
	background-color: var(--tertiary-bg-color);
	color: var(--primary-fg-color);
	text-decoration: none;
	font-size: 20px;
}
#navmenu a:hover{
	background-color: var(--hover-bg-color);
}

.recipeLink a{
	text-decoration: none;
}
.recipeDetails{
	margin: 0px 10px;
}
p.byline{
	font-style: italic;
}

#footer a{
	color: var(--primary-fg-color);
}

#footer{
	position: absolute;
	bottom: 0;
	padding: 10px 0px
}
